@media screen and (max-width: 600px) {

    /*--------------------------------------------------------------
Start Header Coding
--------------------------------------------------------------*/

    .top-logo {
        width: 80%;
    }

    .hamburger {
        width: 10%;
        text-align: right;
        float: right;
        display: block;
    }

    .hamburger span {
        display: block;
    }

    .cross span {
        display: block;
    }

    .active {
        border-bottom: none;
    }

    .main-menu .nav a:hover {
        border-bottom: none;
    }

    .main-menu {
        width: 100%;
        display: none;
    }

    .main-menu .nav li {
        display: block;
    }

    .list-your-business {
        width: 50%;
        text-align: left;
        display: none;
        transition: 0.8s;
    }

    .list-your-business button{
    width: 100%;
}

    /*--------------------------------------------------------------
End Header Coding    
--------------------------------------------------------------*/


    /*--------------------------------------------------------------
Start Footer Coding
--------------------------------------------------------------*/
.footer-box{
    width: 100%;
    line-height: 35px;
    padding: 0px;
}


.scrollToTop{
    right:20px;
}
    /*--------------------------------------------------------------
End Footer Coding    
--------------------------------------------------------------*/


    /*--------------------------------------------------------------
Start discover Coding    
--------------------------------------------------------------*/

    .discover-wrapper .discover-main .discover-box {
        width: 100%;
    }

    .discover-wrapper .discover-main .discover-box {
        margin-bottom: 25px;
        height: auto;
        width: 100%;
    }


.discover-content h1{
    font-size: 21px;
}


    /*--------------------------------------------------------------
End discover Coding    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Start popular-category Coding    
--------------------------------------------------------------*/

.popular-category-items-box{
    width: 100%;
    margin:0px 0px 12px 0px;
}

.browse-all-categories{
    width: 70%;
}

/*--------------------------------------------------------------
End popular-category Coding    
--------------------------------------------------------------*/



/*--------------------------------------------------------------
Start directory-category Coding    
--------------------------------------------------------------*/

.directory-tab a{
    line-height: 50px;
}

.directory-box{
    width: 100%;
    margin:0px 0px 30px 0px;
}
.directory-box:nth-child(1){
    margin-left:0px;
}


/*--------------------------------------------------------------
End directory-category Coding    
--------------------------------------------------------------*/

/*###############
 Category page
###############*/


/*-------------------------------------------------------------
Start category-header-wrapper Coding    
--------------------------------------------------------------*/
.category-search{
    width: 100%;
}

.category-filter{
    width: 100%;

}


/*-------------------------------------------------------------
End category-header-wrapper Coding    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Start Contact-us-wrapper Coding
--------------------------------------------------------------*/

.contat-us-wrapper .contat-us-main .contact-us-left{
    width: 100%;
    margin-bottom: 30px;
}

.contat-us-wrapper .contat-us-main .contact-us-left .contact-us-map iframe{
    height:300px;
}

.contat-us-wrapper .contat-us-main .contact-us-right{
    width: 100%;
    padding-left: 0px;
}

    .contact-us-form input,
    .contact-us-form textarea {
        width: 100%;

    }

    .contact-us-form button {
        width: 50%;
    }

/*--------------------------------------------------------------
End Contact-us-wrapper Coding
--------------------------------------------------------------*/

/*-------------------------------------------------------------
Start About-us Coding    
--------------------------------------------------------------*/
.aboutus-wrapper p,.aboutus-img-2{
    margin: 0;
}

/*-------------------------------------------------------------
End About-us Coding    
--------------------------------------------------------------*/

}