@media screen and (max-width: 600px) {

    /*--------------------------------------------------------------
Start Header Coding
--------------------------------------------------------------*/

    .top-logo {
        width: 80%;
    }

    .hamburger {
        width: 10%;
        text-align: right;
        float: right;
        display: block;
    }

    .hamburger span {
        display: block;
    }

    .cross span {
        display: block;
    }

    .active {
        border-bottom: none;
        border-left: 1px solid #2C974B;
    }

    .main-menu .nav a:hover {
        border-bottom: none;
        border-left: 1px solid #2C974B;
    }

    .main-menu {
        width: 100%;
        display: none;
    }

    .main-menu .nav li {
        display: block;
    }

    .list-your-business {
        width: 50%;
        text-align: left;
        display: none;
        transition: 0.8s;
    }

    /*--------------------------------------------------------------
End Header Coding    
--------------------------------------------------------------*/


    /*--------------------------------------------------------------
Start Footer Coding
--------------------------------------------------------------*/
.footer-box{
    width: 100%;
    line-height: 35px;
    padding: 0px;
}

    /*--------------------------------------------------------------
End Footer Coding    
--------------------------------------------------------------*/


    /*--------------------------------------------------------------
Start discover Coding    
--------------------------------------------------------------*/

    .discover-wrapper .discover-main .discover-box {
        width: 100%;
    }

    .discover-wrapper .discover-main .discover-box {
        margin-bottom: 25px;
        height: auto;
        width: 100%;
    }


.discover-content h1{
    font-size: 21px;
}

    /*--------------------------------------------------------------
End discover Coding    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Start popular-category Coding    
--------------------------------------------------------------*/

.popular-category-items-box{
    width: 100%;
    margin:0px 0px 12px 0px;
}


/*--------------------------------------------------------------
End popular-category Coding    
--------------------------------------------------------------*/

}