/*--------------------------------------------------------------
Start Header Coding
--------------------------------------------------------------*/
.header-wrapper .container{
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
}

.top-logo {
    width: 20%;
    text-align: left;
}

.top-logo h2 ,.copyright h2{
    color: #00ACEE;
    font-weight: bold;
    font-size: 40px;
}

.top-logo h2 span,.copyright h2 span {
    color: #63E89E;
    font-weight: bold;
}

.hamburger {
    width: 1%;
    padding-left: 8%;
    font-size: 35px;
    color: #63E89E;
    display: none;
    margin-top: 10px;
}



.hamburger span {
    display: none;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #63E89E;
    border-radius: 3px;
}


.cross {
    display: none;
    width: 32px;
    height: 32px;
    position: relative;

}

.cross:before,
.cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #63E89E;
    padding-left: 8%;
    margin: 5px 0px 0px 19px;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

.main-menu {
    width: 60%;
    text-align: right;
}


.main-menu .nav a{
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}

.active {
    color: #63E89E;
    font-weight: bold;
}

.main-menu .nav a:hover {
    color: #63E89E;
    transition: 0.2s;
}

.list-your-business{
    padding-top: 2px;
    width: 20%;
    text-align: right;
}

.list-your-business button{
    width: 80%;
}

/*--------------------------------------------------------------
End Header Coding    
--------------------------------------------------------------*/



/*--------------------------------------------------------------
Start Footer Coding    
--------------------------------------------------------------*/
.footer-wrapper {
    background: #000000;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    color: #63E89E;
    width: 100%;
}

.footer-box {
    width: 25%;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 20px;
   padding-left: 20px;
}

.footer-box:nth-child(1){
     padding-left:0px;
}

.footer-box li {
    display: block;  
}

.footer-box li a {
    color: #63E89E;
}

.footer-box li a:hover {
    color: #00ACEE;
}

.footer-box h2{
    /*color: #63E89E;*/
    color: #00ACEE;
}

.copyright {
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0px auto;
    padding: 10px;
    width: 100%;
}

.footer hr {
    width: 100%;
}

.scrollToTop{
    padding:5px 10px 5px 10px; 
    text-align:center; 
    font-size: 25px;
    font-weight: bold;
    color: #00ACEE;
    position:fixed;
    bottom:75px;
    right:40px;
    display:none;
    border-radius: 50%;
    border:3px solid #00ACEE; 
}
.scrollToTop:hover{
    border:3px solid #63E89E; 
}

/*--------------------------------------------------------------
End Footer Coding    
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Start Discover Coding    
--------------------------------------------------------------*/

.discover-wrapper {
    background-image: url('about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.discover-wrapper .discover-main {
    display: flex;
    flex-wrap: wrap;

}

.discover-wrapper .discover-main .discover-box {
    width: 70%;
    height: 400px;
    margin: 0px auto;
    text-align: center;
}

.discover-wrapper .discover-main .discover-box .discover-content {
    /*background: rgba(255, 255, 255, 0.8);*/
    padding: 50px;
    margin: 80px auto;
    line-height: 70px;
    width: 100%;
}

.discover-content h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px #000000;
}

.discover-content hr{
    width: 20%;
    height: 2px;
    background: #63E89E;
}

.discover-content input{
    width: 100%;
    height: 43px;
    border-radius: 100px;
    border: none;
    outline: none;
    text-align: center;
}

.search-box{
    display: flex;
    width: 100%;
    position: relative;

}

.search-box span{
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 18px;
}
/*--------------------------------------------------------------
End discover Coding    
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Start popular-category Coding    
--------------------------------------------------------------*/

.popular-category-wrapper{
   /*background: #dddddd;*/
}

.popular-category-main{
    display: flex;
    flex-wrap: wrap;
}

.popular-category-items-box{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    padding:10px;
    background: #ffffff;
    margin:0px 0px 12px 12px; 
    position: relative;
/*    font-size: 20px; */
    box-shadow: 0 5px 10px 0 rgb(144 146 136 / 20%);
}

.popular-category-items-box p{
    display: flex;
    align-items: center;
}

.popular-category-items-box p:nth-child(3){
    position: absolute;
    right: 0;
    color: #00ACEE;
    padding: 8px;
}

.popular-category-items-box:nth-child(1){
     margin:0px 0px 12px 0px;
}

.popular-category-items-box span{
    background: #63E89E;
    color: #ffffff;
    padding: 8px;
    border-radius: 50%;
    margin-right: 5%;
}
.popular-category-items-box i{

}

.browse-all-categories{
    padding-top: 2%;
    width: 20%;
    text-align: center;
    margin:0 auto;
}
/*--------------------------------------------------------------
End popular-category Coding    
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Start directory-category Coding    
--------------------------------------------------------------*/

.directory-category-wrapper{
    background: #dddddd;
}

.directory-category-main{
    display: flex;
    flex-wrap: wrap;
}

.directory-tab{
    margin:0px auto;
    margin-bottom: 30px;
}

.directory-tab a{
    background: #63E89E;
    padding: 10px;
    color: #ffffff;
    border-radius: 100px;
}

.directory-tab .active{
    background: #00ACEE;
}

.directory-box{
    width: 25%;
    margin:0px 0px 2% 2%;
    padding-bottom: 20px;
    border-radius: 10px; 
    background: #ffffff;
}
.directory-box:nth-child(1){
    margin-left:0px;
}

.directory-box .img-box{
    height: 150px;
}


.directory-add{
    margin:0px auto;
    width: 70%;
    text-align: center;
    align-items: center;
    margin-top: -10%;
}

/*
-----------------------------------------------------------
End directory-category Coding    
--------------------------------------------------------------*/


/*###############
 Category page
###############*/


/*-------------------------------------------------------------
Start category-header-wrapper Coding    
--------------------------------------------------------------*/

.category-search{
    width: 40%;
}

.category-filter{
    width: 60%;
    text-align: right;
}

.category-filter ul li{
      border-right:1px solid red;
}

.category-filter ul li:last-child{
    border-right:none;
}

.category-filter a{
    margin-left: 10px;
    padding-right: 10px;

}

.category-search input{
    outline: none;
    border: none;
    padding-left: 10px;
    color: #00ACEE;
}

.category-search span{
    color: #63E89E;
}


/*-------------------------------------------------------------
End category-header-wrapper Coding    
--------------------------------------------------------------*/

/*-------------------------------------------------------------
Start category-subheader-wrapper Coding    
--------------------------------------------------------------*/
.category-subheader-wrapper{
    background: #eeeeee;
}

.category-subheader-main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.category-subheader-section{
    padding: 10px ;
    background: #ffffff;
}

.category-subheader-section:nth-child(1){
    width: 10%;
}
.category-subheader-section:nth-child(2){
    width: 10%;
}
.category-subheader-section:nth-child(3){
    width: 20%;
}
.category-subheader-section:nth-child(4){
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 40%;
}

.category-subheader-section:nth-child(5){
    width: 20%;
}

/*-------------------------------------------------------------
End category-subheader-wrapper Coding    
--------------------------------------------------------------*/


/*-------------------------------------------------------------
Start listing-section-wrapper Coding    
--------------------------------------------------------------*/
.listing-section-wrapper{
    background: #eeeeee;
}

.listing-section-main{
    display: flex;
    flex-wrap: wrap;

}

.listing-section-left{
    width: 34%;
    padding: 10px;
    background: #ffffff;
}

.listing-section-right{
    margin-left: 1%;
    width: 65%;
    padding: 10px;
    background: #ffffff;
}

.cont-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cont-box .img-cont{
    width: 30%;
}

.cont-box .details-cont{
    width: 70%;
    padding-left: 2%;
}

/*-------------------------------------------------------------
End listing-section-wrapper Coding    
--------------------------------------------------------------*/